<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    <link rel="stylesheet" href="../css/mystyles.css">
</head>

<body id="login" style="width: 50%; float: left">

    <div id="img1" >
        <img src="../images/esencia_latina.png" alt="">
    </div>

    <div id="text1">
        <p>Bienvenido!</p>
        <p>Inicia sesion con tus credenciales</p>
    </div>

    <div id="forma">

        <form id="forma_log"
    
            action="http://localhost/PII-2/php/logincontroller.php" 
            method="get">

            <label for="">Usuario</label>
            <input type="email" name="useremail" id="">

            <label for="">Contraseña</label>
            <input type="password" name="userpassword" id="">

            <input id="b1" type="submit" value="Enviar" >
        
        </form>

    
    </div>

    <div id="text1">

        <br>
        <br>
        <a href="http://localhost/PII-2/index_access.html" >Regresar</a>

    </div>
    
</body>
</html>